/*Centrado y Tamaño del titulo*/
.id-title{

  font-size: 30px;
  text-align: center;
}

/* Altura total y sin margen */
html, body {
  height: 100%;
  margin: 0;
}

/* Fondo del menú lateral */
.bg-menu {
  background-color: #009900;
  font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 400px;
}

/* Flecha clickable */
.pointer {
  cursor: pointer;
}

/* Contenedor principal */
.main-content {
  position: relative;
}

/* Botón flotante */
.boton-flotante {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.id-inicio{
  font-size: 25px;
}

.id-parametros{
  font-size: 25px;
}

.id-procesos{
  font-size: 25px;
}
.id-cerrarSesion{
  font-size: 25px;
}

.id-selection-procesos{
  background-color: #007C00;
  font-size: 20px;
}

.id-selection-parametros{
  background-color: #007C00;
  font-size: 20px;
}
/*#007C00 color para el efecto del arrow */