<div class="container mt-4">
  <h3>Información Funcionarios</h3>
  <hr>

  <div class="mb-4">
    <h5>Búsqueda de Funcionarios</h5>
    <label for="searchInput" class="form-label">Identificación del funcionario</label>
    <div class="input-group">
      <input
        type="text"
        id="searchInput"
        class="form-control"
        placeholder="Identificación del funcionario"
        [(ngModel)]="searchId"
        (input)="buscarFuncionario()"
      />
      <button class="btn btn-outline-secondary" (click)="buscarFuncionario()">
        🔍
      </button>
    </div>
  </div>

  <hr>

  <h5>Funcionario registrado</h5>
  <table class="table table-hover align-middle" *ngIf="funcionarios.length > 0">
    <thead>
      <tr>
        <th>Identificación</th>
        <th>Nombres y Apellidos</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcionario of funcionarios">
        <td>{{ funcionario.id_funcio}}</td>
        <td>{{ funcionario.nm_func1 + " " }}{{funcionario.nm_func2 +"  "}}{{funcionario.ap_func1 + " "}}{{funcionario.ap_func2 + " "}}</td>
        <td>{{ funcionario.ce_funcio}}</td>
        <td>
          <button class="btn btn-primary btn-sm me-2">
            Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="eliminarFuncionario(funcionario.id_funcio)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="funcionarios.length === 0" class="alert alert-warning">
    No se encontraron funcionarios
  </div>

  <div class="text-end">
    <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregar">
      Agregar Funcionario
    </button>
  </div>
  <app-proc-funcionario-insert (cargarFuncionarios)="cargarFuncionarios()"></app-proc-funcionario-insert>
</div>
