.id-eyes{

    font-size: 25px;
}
.id-acciones{
   
    padding-left: 20px;
}

/* Fila inactiva completa */
.fila-inactiva,
.fila-inactiva td {
  background-color: #e9ecef !important;
  color: #6c757d; 
  opacity: 0.9;
}
