/* Altura total y sin margen */
html, body {
  height: 100%;
  margin: 0;
}

/* Fondo del menú lateral */
.bg-menu {
  background-color: #009900;
  font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 300px;
}

/* Flecha clickable */
.pointer {
  cursor: pointer;
}

/* Contenedor principal */
.main-content {
  position: relative;
}

/* Botón flotante */
.boton-flotante {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

